
    * {
        margin: 0;
    }
  
    #imgCarrinho{
        padding: 1px;
        height: 100px;
        width: 100px;
     }
    .label {
        font-size: 30px;
        font-style: normal;
        font-weight: bold;
    }
    table th{
        background-color:red;
        
    }
   
    table th{
        text-align: left;
        padding: 1px 1px ;
        font-size: 15px;
        font-weight: bold;
        border-style:inset;
        
    }
    table td img{
        width: 30px;
    
    }
    td{
        word-wrap:break-word;
     }
    .center{
        text-align: center;
        
    }
    .tr_total{
        font-size: 19px;
    }
	input::placeholder {
       color: black;
    }
	#btnapp{
		margin-left: 80%;
		background-color:red;
		font-size:1rem;
		font-weight:bold;	
		padding: 4px;
        border: solid rgb(31, 49, 65);
        
	}
	#btnapp:hover{
		background-color:#45bdf5;
		color: rgb(108, 183, 226);
	}
    .fontbold{
        font-weight: bold;
    }
    .colorbtn{
        color: white;
    }
    
    
  
    